In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Housing.csv")

In [3]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
nominal_cols = ['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea']

df[nominal_cols] = df[nominal_cols].replace({"yes": 1, "no": 0})

C:\Users\audih\AppData\Local\Temp\ipykernel_13328\201093094.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[nominal_cols] = df[nominal_cols].replace({"yes": 1, "no": 0})

In [6]:
df['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [7]:
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# df['furnishingstatus'] = le.fit_transform(df['furnishingstatus'])

furnishingstatus_order = {'furnished' : 2, 'semi-furnished': 1, 'unfurnished': 0}
df['furnishingstatus'] = df['furnishingstatus'].map(furnishingstatus_order)

df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price,545.0,4.766729e+06,1.870440e+06,1750000.0,3430000.0,4340000.0,5740000.0,13300000.0
area,545.0,5.150541e+03,2.170141e+03,1650.0,3600.0,4600.0,6360.0,16200.0
bedrooms,545.0,2.965138e+00,7.380639e-01,1.0,2.0,3.0,3.0,6.0
bathrooms,545.0,1.286239e+00,5.024696e-01,1.0,1.0,1.0,2.0,4.0
stories,545.0,1.805505e+00,8.674925e-01,1.0,1.0,2.0,2.0,4.0
mainroad,545.0,8.587156e-01,3.486347e-01,0.0,1.0,1.0,1.0,1.0
guestroom,545.0,1.779817e-01,3.828487e-01,0.0,0.0,0.0,0.0,1.0
basement,545.0,3.504587e-01,4.775519e-01,0.0,0.0,0.0,1.0,1.0
hotwaterheating,545.0,4.587156e-02,2.093987e-01,0.0,0.0,0.0,0.0,1.0
airconditioning,545.0,3.155963e-01,4.651799e-01,0.0,0.0,0.0,1.0,1.0
parking,545.0,6.935780e-01,8.615858e-01,0.0,0.0,0.0,1.0,3.0
prefarea,545.0,2.348624e-01,4.243022e-01,0.0,0.0,0.0,0.0,1.0
furnishingstatus,545.0,9.302752e-01,7.613727e-01,0.0,0.0,1.0,2.0,2.0

In [9]:
scale_cols = ['price','area']
scaler = MinMaxScaler()

df[scale_cols] = scaler.fit_transform(df[scale_cols])

df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,1.000000,0.396564,4,2,3,1,0,0,0,1,2,1,2
1,0.909091,0.502405,4,4,4,1,0,0,0,1,3,0,2
2,0.909091,0.571134,3,2,2,1,0,1,0,0,2,1,1
3,0.906061,0.402062,4,2,2,1,0,1,0,1,3,1,2
4,0.836364,0.396564,4,1,2,1,1,1,0,1,2,0,2

In [10]:
X = df.drop(columns=['price'])
y = df[["price"]].astype(float).values

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=42)

In [13]:
X_train_array = np.array(X_train).T
Y_train_array = np.array(y_train).T

In [130]:
#NEURAL NETWORKS

def init_params(hidden_neuron=32):
    W1 = np.random.rand(hidden_neuron,12) * 0.01 #inisialisasi weight untuk layer 1
    b1 = np.random.rand(hidden_neuron,1) #inisialisasi bias untuk layer 1

    W2 = np.random.rand(1,hidden_neuron) * 0.01 #inisialisasi weight untuk layer 2
    b2 = np.random.rand(1,1) #inisialisasi bias untuk layer 2

    return W1, b1, W2, b2

def leaky_relu(Z):
    return np.maximum(0.1*Z, Z)

def linear(Z):
    return Z

def deriv_leaky_relu(Z, alpha=0.01):
    grad = np.ones_like(Z)
    grad[Z < 0] = alpha
    return grad

def relu(Z):
    return np.maximum(0, Z)

def deriv_relu(Z):
    return Z > 0

def forward(W1, b1, W2, b2, X):
    '''
    Layer 1
    '''
    #Z1 adalah sum dari layer 1
    Z1 = W1.dot(X) + b1
    #A1 adalah output dari layer 1
    A1 = leaky_relu(Z1)

    '''
    Layer 2
    '''
    Z2 = W2.dot(A1) + b2
    A2 = linear(Z2)

    return Z1, A1, Z2, A2

def backpropagation(Z1, A1, Z2, A2, W2, X, Y):
    m = Y.size
    dZ2 = A2 - Y
    dW2 = (1/m) * dZ2.dot(A1.T)
    db2 = (1/m) * np.sum(dZ2, axis=1, keepdims=True) #kenapa gini


    dZ1 = W2.T.dot(dZ2) * deriv_leaky_relu(Z1)
    dW1 = (1/m) * dZ1.dot(X.T)
    db1 = (1/m) * np.sum(dZ1, axis=1, keepdims=True) #kenapa gini

    return dW1, db1, dW2, db2

def update_parameters(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha):
    new_W1 = W1 - alpha * dW1
    new_b1 = b1 - alpha * db1
    new_W2 = W2 - alpha * dW2
    new_b2 = b2 - alpha * db2
    
    return new_W1, new_b1, new_W2, new_b2

In [138]:
#GRADIENT DESCENT
# fungsi untuk mengubah output aktivasi menjadi prediksi akhir
def get_prediction(A2):
    """
    Karena ini regresi, prediksi = output langsung
    """
    return A2

# fungsi untuk menghitung error (contoh MSE)
def get_error(prediction, Y, loss="mse"):
    """
    Menghitung loss antara prediksi dan target.
    prediction, Y: shape (1, m)
    """
    if loss == "mse":
        return np.mean((prediction - Y) ** 2)
    elif loss == "mae":
        return np.mean(np.abs(prediction - Y))
    else:
        raise ValueError("Unknown loss type")



def batch_gradient_descent(X,Y, epochs, alpha,hidden_neuron):
    W1, b1, W2, b2 =  init_params(hidden_neuron)
    for i in range(1, epochs+1):
        Z1, A1, Z2, A2 = forward(W1,b1,W2,b2,X)
        dW1, db1, dW2, db2 = backpropagation(Z1,A1,Z2,A2,W2,X,Y)
        W1, b1, W2, b2 = update_parameters(W1,b1,W2,b2,dW1,db1,dW2,db2,alpha)

        if i % 10 ==0:
            pred = get_prediction(A2)
            mse = get_error(pred, Y, loss="mse")
            mae = get_error(pred, Y, loss="mae")
            print(f"Iter {i:4d} | MSE = {mse:.4f} | MAE = {mae:.4f}")
    
    return W1, b1, W2, b2


def stoch_gradient_descent(X, Y, epochs, alpha, hidden_neuron, shuffle=True, seed=42):
    """
    Stochastic / Mini-batch Gradient Descent
    - batch_size=1    -> SGD murni
    - batch_size>1    -> mini-batch SGD
    """

    rng = np.random.default_rng(seed)

    n = X.shape[1]  # jumlah record
    W1, b1, W2, b2 = init_params(hidden_neuron)

    for i in range(1, epochs+1):
        idx = np.arange(n) #generate indeks data 1,2,3,4,...
        if shuffle:
            rng.shuffle(idx) #indeks di-shuffle 59, 21, 56, 18,...

        # --- iterasi per mini-batch ---
        for start in range(0, n, 1):
            batch_idx = idx[start:start + 1] #ngambil 50 index 
            Xb = X[:, batch_idx]
            Yb = Y[:, batch_idx] if Y.ndim == 2 else Y[batch_idx]  # sesuaikan bentuk

            Z1, A1, Z2, A2 = forward(W1, b1, W2, b2, Xb)
            dW1, db1, dW2, db2 = backpropagation(Z1, A1, Z2, A2, W2, Xb, Yb)
            W1, b1, W2, b2 = update_parameters(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha)

        # --- monitoring loss/metric per i (pakai full data) ---
        if (i % 10) == 0:
            _, _, _, A2_full = forward(W1, b1, W2, b2, X)
            pred = get_prediction(A2_full)
            mse = get_error(pred, Y, loss="mse")
            mae = get_error(pred, Y, loss="mae")
            print(f"Epoch {i:4d} | MSE = {mse:.4f} | MAE = {mae:.4f}")

    return W1, b1, W2, b2

def mini_batch_gradient_descent(X, Y, epochs, alpha, hidden_neuron, batch_size=1, shuffle=True, seed=42):
    """
    Stochastic / Mini-batch Gradient Descent
    - batch_size=1    -> SGD murni
    - batch_size>1    -> mini-batch SGD
    """

    rng = np.random.default_rng(seed)

    n = X.shape[1]  # jumlah record
    W1, b1, W2, b2 = init_params()

    for i in range(1, epochs+1):
        idx = np.arange(n) #generate indeks data 1,2,3,4,...
        if shuffle:
            rng.shuffle(idx) #indeks di-shuffle 59, 21, 56, 18,...

        # --- iterasi per mini-batch ---
        for start in range(0, n, batch_size):
            batch_idx = idx[start:start + batch_size] #ngambil 50 index 
            Xb = X[:, batch_idx]
            Yb = Y[:, batch_idx] if Y.ndim == 2 else Y[batch_idx]  # sesuaikan bentuk

            Z1, A1, Z2, A2 = forward(W1, b1, W2, b2, Xb)
            dW1, db1, dW2, db2 = backpropagation(Z1, A1, Z2, A2, W2, Xb, Yb)
            W1, b1, W2, b2 = update_parameters(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha)

        # --- monitoring loss/metric per i (pakai full data) ---
        if (i % 10) == 0:
            _, _, _, A2_full = forward(W1, b1, W2, b2, X)
            pred = get_prediction(A2_full)
            mse = get_error(pred, Y, loss="mse")
            mae = get_error(pred, Y, loss="mae")
            print(f"Epoch {i:4d} | MSE = {mse:.4f} | MAE = {mae:.4f}")

    return W1, b1, W2, b2

In [ ]:
n=100
batch_size=1
seed=None


rng = np.random.default_rng(42)
# print("rng",rng)

shuffle = True
idx = np.arange(n)
# print("idx",idx)

rng.shuffle(idx)
# print("idx after shuffle",idx)

batch_idx = idx[0:0 + batch_size]
# print(batch_idx)

Xb = X_train_array[:, batch_idx] if X_train_array.ndim == 2 else X_train_array[batch_idx]

In [116]:
print(X_train_array.shape)

(12, 392)

In [ ]:
for start in range(0, n, batch_size):
    print(start)

In [139]:
W1, b1, W2, b2 = batch_gradient_descent(X_train_array, Y_train_array, hidden_neuron=32, epochs=100, alpha=0.1,)

Iter   10 | MSE = 0.0243 | MAE = 0.1200
Iter   20 | MSE = 0.0242 | MAE = 0.1198
Iter   30 | MSE = 0.0241 | MAE = 0.1196
Iter   40 | MSE = 0.0240 | MAE = 0.1193
Iter   50 | MSE = 0.0239 | MAE = 0.1190
Iter   60 | MSE = 0.0238 | MAE = 0.1187
Iter   70 | MSE = 0.0237 | MAE = 0.1183
Iter   80 | MSE = 0.0235 | MAE = 0.1178
Iter   90 | MSE = 0.0233 | MAE = 0.1173
Iter  100 | MSE = 0.0230 | MAE = 0.1166

In [140]:
W1, b1, W2, b2 = stoch_gradient_descent(X_train_array, Y_train_array, hidden_neuron=32, epochs=100, alpha=0.1)

Epoch   10 | MSE = 0.0086 | MAE = 0.0669
Epoch   20 | MSE = 0.0082 | MAE = 0.0660
Epoch   30 | MSE = 0.0076 | MAE = 0.0624
Epoch   40 | MSE = 0.0086 | MAE = 0.0667
Epoch   50 | MSE = 0.0072 | MAE = 0.0632
Epoch   60 | MSE = 0.0074 | MAE = 0.0614
Epoch   70 | MSE = 0.0068 | MAE = 0.0603
Epoch   80 | MSE = 0.0075 | MAE = 0.0614
Epoch   90 | MSE = 0.0066 | MAE = 0.0604
Epoch  100 | MSE = 0.0067 | MAE = 0.0585

In [141]:
W1, b1, W2, b2 = mini_batch_gradient_descent(X_train_array, Y_train_array, hidden_neuron=32, epochs=100, alpha=0.1,batch_size=50)

Epoch   10 | MSE = 0.0202 | MAE = 0.1109
Epoch   20 | MSE = 0.0144 | MAE = 0.0928
Epoch   30 | MSE = 0.0113 | MAE = 0.0775
Epoch   40 | MSE = 0.0104 | MAE = 0.0747
Epoch   50 | MSE = 0.0099 | MAE = 0.0734
Epoch   60 | MSE = 0.0100 | MAE = 0.0724
Epoch   70 | MSE = 0.0093 | MAE = 0.0696
Epoch   80 | MSE = 0.0090 | MAE = 0.0688
Epoch   90 | MSE = 0.0089 | MAE = 0.0680
Epoch  100 | MSE = 0.0088 | MAE = 0.0680

In [142]:
W1, b1, W2, b2 = mini_batch_gradient_descent(X_train_array, Y_train_array,hidden_neuron=32, epochs=100, alpha=0.1,batch_size=392)

Epoch   10 | MSE = 0.0235 | MAE = 0.1180
Epoch   20 | MSE = 0.0234 | MAE = 0.1177
Epoch   30 | MSE = 0.0233 | MAE = 0.1175
Epoch   40 | MSE = 0.0232 | MAE = 0.1172
Epoch   50 | MSE = 0.0231 | MAE = 0.1168
Epoch   60 | MSE = 0.0229 | MAE = 0.1164
Epoch   70 | MSE = 0.0227 | MAE = 0.1159
Epoch   80 | MSE = 0.0225 | MAE = 0.1154
Epoch   90 | MSE = 0.0223 | MAE = 0.1147
Epoch  100 | MSE = 0.0220 | MAE = 0.1139